* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    height: 100%;
    background: #F0F2F0, url("fondo.jgp");
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0, 12, 64, 0.593), rgba(240, 242, 240, 0.599)), url("fondo.jpg");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 12, 64, 0.599), rgba(240, 242, 240, 0.599)), url("fondo.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration-color: aqua;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 600px;
}